<a href="https://colab.research.google.com/github/94JuHo/study_for_deeplearning/blob/master/MS_AI/05.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
sentence = "I love you"
reverse_sentence = ' '
for char in sentence:
  reverse_sentence = char + reverse_sentence
print(reverse_sentence)

uoy evol I

In [0]:
def addition(x, y):
  return x+y

def multiplication(x, y):
  return x * y

def divided_by_2(x):
  return x/2

print(addition(10, 5))
print(multiplication(10, 5))
print(divided_by_2(50))

15
50
25.0

In [0]:
def calculate_rectangle_area(x, y):
  return x * y

rectangle_x = 10
rectangle_y = 20
print("사각형 x의 길이:",rectangle_x)
print("사각형 y의 길이:",rectangle_y)

print("사각형의 넓이:",calculate_rectangle_area(rectangle_x, rectangle_y))

사각형 x의 길이: 10
사각형 y의 길이: 20
사각형의 넓이: 200

In [0]:
def f(x):
  return 2*x + 7
def g(x):
  return x ** 2

x = 2
print(f(x)+g(x)+f(g(x))+g(f(x)))

151

In [0]:
def f(x):
  return 2*x+7

print(f(2))

11

In [0]:
def a_rectangle_area():
  print(5 * 7)
def b_rectangle_area(x, y):
  print( x*y )
def c_rectangle_area():
  return (5*7)
def d_rectangle_area(x, y):
  return (x*y)

a_rectangle_area()
b_rectangle_area(5, 7)
print(c_rectangle_area())
print(d_rectangle_area(5, 7))

35
35
35
35

In [0]:
def f(x):
  y = x
  x = 5
  return y * y

x= 3
print(f(x))
print(x)

9
3

In [0]:
def spam(eggs):
  eggs.append(1)

  eggs = [2, 3]

ham = [0]
spam(ham)
print(ham)

[0, 1]

In [0]:
def test(t):
  print(x)
  t = 20
  print("In Function:",  t)

x = 10
test(x)
print("In main:", x)
print("In main:", t)

10
In Function: 20
In main: 10

NameError: ignored

In [0]:
def f():
  s = "I love London!"
  print(s)

s = "I love Paris!"
f()
print(s)

I love London!
I love Paris!

In [0]:
def f():
  global s
  s = "I love London!"
  print(s)

s = "I love Paris!"
f()
print(s)

I love London!
I love London!

In [0]:
def calculate(x, y):
  total = x + y
  print("In Function")
  print("a:", str(a), "b:", str(b), "a+b:", str(a+b), "total:", str(total))
  return total

a = 5
b = 7
total = 0
print("In program -1")
print("a:", str(a), "b:", str(b), "a+b:", str(a+b))

sum = calculate(a, b)
print("After Calculation")
print("Total:", str(total), "Sum:",str(sum))

In program -1
a: 5 b: 7 a+b: 12
In Function
a: 5 b: 7 a+b: 12 total: 12
After Calculation
Total: 0 Sum: 12

In [0]:
def factorial(n):
  if n == 1:
    return 1
  else:
    return n * factorial (n-1)

print(factorial(int(input("Input Number for Factorial Calculation: "))))

Input Number for Factorial Calculation: 5
120

In [0]:
def print_something(my_name, your_name):
  print("Hello {0}, My name is {1}".format(your_name, my_name))

print_something("Sungchul", "TEAMLAB")
print_something(your_name="TEAMLAB", my_name="SungChul")

Hello TEAMLAB, My name is Sungchul
Hello TEAMLAB, My name is SungChul

In [0]:
def print_something(my_name, your_name="TEAMLAB"):
  print("Hello {0}, My name is {1}".format(your_name, my_name))

print_something("Sungchul", "TEAMLAB")
print_something("SungChul")

Hello TEAMLAB, My name is Sungchul
Hello TEAMLAB, My name is SungChul

In [0]:
del sum #위에서 sum을 변수로 사용했음으로 변수로 사용하면 sum 함수 호출 안됨. 변수삭제
def asterisk_test(a, b, *args):
  return a+b+sum(args)

print(asterisk_test(1, 2, 3, 4, 5))

15

In [0]:
def asterisk_test_2(*args):
  x, y, *z = args
  return x, y, z

print(asterisk_test_2(3, 4, 5))

(3, 4, [5])

In [0]:
print(asterisk_test_2(3, 4, 5, 10, 20))

(3, 4, [5, 10, 20])

In [0]:
def kwargs_test(**kwargs):
  print(kwargs)
  print("First value is {first}".format(**kwargs))
  print("Second value is {second}".format(**kwargs))
  print("Third value is {third}".format(**kwargs))

kwargs_test(first=3, second=4, third=5)

{'first': 3, 'second': 4, 'third': 5}
First value is 3
Second value is 4
Third value is 5

In [0]:
kwargs = {'first':3, 'second':4, 'third':5}
print("Second value is {second}".format(**kwargs))

Second value is 4

In [0]:
print("Second value is {second}".format(first=3, second=4, thrid=5))

Second value is 4

In [0]:
def kwargs_test(one, two, *args, **kwargs):
  print(one+two+sum(args))
  print(kwargs)

kwargs_test(3,4,5,6,7,8,9,first=3, second=4, third=5)

42
{'first': 3, 'second': 4, 'third': 5}

In [0]:
a = 5
if (a>3):
  print("Hello world")
  print("hello teamlab")
if (a>4):
  print("Hello world")
  print("hello teamlab")
if (a>5):
  print("Hello world")
  print("hello teamlab")

Hello world
hello teamlab
Hello world
hello teamlab

In [0]:
def print_hello():
  print("Hello world")
  print("hello teamlab")
a = 5
if (a>3):
  print_hello()
if (a>4):
  print_hello()
if (a>5):
  print_hello()

Hello world
hello teamlab
Hello world
hello teamlab

In [0]:
import math
a = 1; b = -2; c = 1

print((-b+math.sqrt(b**2 - (4*a*c))) / (2*a))
print((-b-math.sqrt(b**2 - (4*a*c))) / (2*a))

1.0
1.0

In [0]:
import math
def get_result_quadratic_equation(a, b, c):
  values = []
  values.append((-b+math.sqrt(b**2 - (4*a*c))) / (2*a))
  values.append((-b-math.sqrt(b**2 - (4*a*c))) / (2*a))
  return values

print(get_result_quadratic_equation(1,-2,1))

[1.0, 1.0]