In [1]:
colors = ['red', 'blue', 'green', 'yellow']
result = ''.join(colors)
print(result)

redbluegreenyellow

In [2]:
items = 'zero one two three'.split()
print(items)

['zero', 'one', 'two', 'three']

In [3]:
example = 'python,jquery,javascript'
example.split(',')

['python', 'jquery', 'javascript']

In [4]:
a, b, c = example.split(',')
print(a, b, c)

python jquery javascript

In [5]:
example = 'theteamlab.univ.edu'
subdomain, domain, tld = example.split('.')
print(subdomain, domain, tld)

theteamlab univ edu

In [6]:
result = ' '.join(colors)
result

'red blue green yellow'

In [8]:
result = ', '.join(colors)
result

'red, blue, green, yellow'

In [9]:
result = '-'.join(colors)
result

'red-blue-green-yellow'

In [10]:
result = [i for i in range(10)]
result

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [11]:
result = []
for i in range(10):
    result.append(i)
result

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [12]:
result = [i for i in range(10) if i % 2 == 0]
result

[0, 2, 4, 6, 8]

In [13]:
result = [i if i % 2 == 0 else 10 for i in range(10)]
result

[0, 10, 2, 10, 4, 10, 6, 10, 8, 10]

In [14]:
word_1 = "Hello"
word_2= "World"
result = [ i+j for i in word_1 for j in word_2]
result

['HW',
 'Ho',
 'Hr',
 'Hl',
 'Hd',
 'eW',
 'eo',
 'er',
 'el',
 'ed',
 'lW',
 'lo',
 'lr',
 'll',
 'ld',
 'lW',
 'lo',
 'lr',
 'll',
 'ld',
 'oW',
 'oo',
 'or',
 'ol',
 'od']

In [15]:
case_1 = ["A", "B", "C"]
case_2 = ["D", "E", "A"]
result = [i+j for i in case_1 for j in case_2 if not(i==j)]
result

['AD', 'AE', 'BD', 'BE', 'BA', 'CD', 'CE', 'CA']

In [16]:
words = 'The quick brown fox jumps over the lazy dog'.split()
print(words)

['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [17]:
stuff = [[w.upper(), w.lower(), len(w)] for w in words]
stuff

[['THE', 'the', 3],
 ['QUICK', 'quick', 5],
 ['BROWN', 'brown', 5],
 ['FOX', 'fox', 3],
 ['JUMPS', 'jumps', 5],
 ['OVER', 'over', 4],
 ['THE', 'the', 3],
 ['LAZY', 'lazy', 4],
 ['DOG', 'dog', 3]]

In [18]:
for i in stuff:
    print(i)

['THE', 'the', 3]
['QUICK', 'quick', 5]
['BROWN', 'brown', 5]
['FOX', 'fox', 3]
['JUMPS', 'jumps', 5]
['OVER', 'over', 4]
['THE', 'the', 3]
['LAZY', 'lazy', 4]
['DOG', 'dog', 3]

In [19]:
result = [[ i+j for i in case_1] for j in case_2]
result

[['AD', 'BD', 'CD'], ['AE', 'BE', 'CE'], ['AA', 'BA', 'CA']]

In [29]:
import time

def sclar_vector_product(scalar, vector):
    result = []
    for value in vector:
        result.append(scalar * value)
    return result

iteration_max = 10000

vector = list(range(iteration_max))
scalar = 2
past = time.time()
for _ in range(iteration_max):
    sclar_vector_product(scalar, vector)
now = time.time()

print(now - past)

16.297178030014038

In [30]:
iteration_max = 10000

vector = list(range(iteration_max))
scalar = 2
now = time.time()
for _ in range(iteration_max):
    [scalar * value for value in range(iteration_max)]
print(time.time() - now)

12.058107852935791

In [31]:
for i, v in enumerate(['tic', 'tac', 'toe']):
    print(i, v)

0 tic
1 tac
2 toe

In [32]:
{i:j for i,j in enumerate('TEAMLAB is an academic institue located in South Korea'.split())}

{0: 'TEAMLAB',
 1: 'is',
 2: 'an',
 3: 'academic',
 4: 'institue',
 5: 'located',
 6: 'in',
 7: 'South',
 8: 'Korea'}

In [33]:
alist = ['a1', 'a2', 'a3']
blist = ['b1', 'b2', 'b3']
for a, b in zip(alist, blist):
    print(a, b)

a1 b1
a2 b2
a3 b3

In [34]:
a, b, c = zip((1, 2, 3), (10, 20, 30), (100, 200, 300))
print(a, b, c)

(1, 10, 100) (2, 20, 200) (3, 30, 300)

In [35]:
[sum(x) for x in zip((1, 2, 3,), (10, 20, 30), (100, 200, 300))]

[111, 222, 333]

In [36]:
for i, (a, b) in enumerate(zip(alist, blist)):
    print(i, a, b)

0 a1 b1
1 a2 b2
2 a3 b3